<h1>Listing sale_lines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Quantity</th>
    <th>Optional</th>
    <th>Sale</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_lines.each do |sale_line| %>
  <tr>
    <td><%= sale_line.name %></td>
    <td><%= sale_line.description %></td>
    <td><%= sale_line.amount %></td>
    <td><%= sale_line.quantity %></td>
    <td><%= sale_line.optional %></td>
    <td><%= sale_line.sale %></td>
    <td><%= link_to 'Show', sale_line %></td>
    <td><%= link_to 'Edit', edit_sale_line_path(sale_line) %></td>
    <td><%= link_to 'Destroy', sale_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale line', new_sale_line_path %>
