<div class="page-header">
  <h1>
  	<%= @client.name %> <small><%= @client.company %></small>
  	<div class='pull-right'>
  		<%= link_to ("<i class='icon-pencil'></i> Edit Client").html_safe, edit_client_path(@client), :class => 'btn' %>
  		<%= link_to "Back", request.referer, :class => 'btn' %>
  	</div>  	
	</h1>
</div>

<p>
  <b>Phone1:</b>
  <%= @client.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @client.phone2 %>
</p>

<p>
  <b>Phone3:</b>
  <%= @client.phone3 %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Leadsource:</b>
  <%= @client.leadsource %>
</p>

<hr>

<h4>Campaigns</h4>	
<table class='table table-condensed table-striped table-hover'>
<thead>
  <tr>
  	<td><small>#</small></td>
    <td><small>Url</small></td>
    <td><small>Keyphrase</small></td>
    <td><small>Type</small></td>
    <td><small>Template</small></td>
    <td><small>Start</small></td>
    <!--<td><small>Length</small></td>
    <td><small>Autoemails</small></td>-->
    <td></td>
  </tr>
</thead>
<tbody>
	<% @campaigns.each do |campaign| %>
		<tr>
			<td><%= campaign.id %></td>
			<td><%= campaign.url.url %></td>
			<td><%= campaign.keyphrase.keyphrase %></td>
			<td><%= campaign.ttype %></td>
			<td><%= campaign.ctype %></td>
			<td><%= l campaign.start %></td>
			<!--<td><%= campaign.length %></td>
			<td><%= campaign.autoemails %></td>-->
		  <td><%= link_to ("<i class='icon-pencil'></i>").html_safe, edit_campaign_path(campaign), :class => 'btn btn-mini' %></td>
		</tr>
	<% end %>
</tbody>
</table>
