<% if days_action <= 0 %>
	<% if campaign.links.empty? %><tr class='warning'><% else %><tr class='info'><% end %>
	<% days_display = days_action.abs.to_s << " day".pluralize(days_action.abs) << " left" %>
<% else %>
	<% if campaign.links.empty? %><tr class='error'><% else %><tr class='info'><% end %>
	<% days_display = days_action.to_s << " day".pluralize(days_action) << " late" %>
<% end %>

	<td><%= campaign.id %></td>
	<td><%= days_display %></td>
    <td><div class='td-fixed' style='width:220px' title='<%= campaign.client.name %> (<%= campaign.client.company %>)'><%= campaign.client.name %> (<%= campaign.client.company %>)</div></td>
    <td><div class='td-fixed' style='width:220px' title='<%= campaign.url.url %>'><%= campaign.url.url %></div></td>
    <td><div class='td-fixed' style='width:220px' title='<%= campaign.keyphrase.keyphrase %>'><%= campaign.keyphrase.keyphrase %></div></td>
	<td><%= campaign.ctype %></td>
	<td><%= campaign.ttype %></td>
	<td><%= l campaign.start %></td>
	<!--<td><%= campaign.length %></td>
	<td><%= campaign.autoemails %></td>-->
  <td><%= link_to ("<i class='icon-pencil'></i>").html_safe, edit_campaign_path(campaign), :class => 'btn btn-mini' %></td>
</tr>
