<div class="page-header">
  <h1>Home <small>I'm lycan what you've done to the place</small></h1>
</div>

<% if user_signed_in? %>
	<h4>Campaign Actions</h4>	
	<table class='table table-condensed table-striped table-hover'>
	<%= render 'campaign_thead' %>
	<tbody>
		<% @campaigns.each do |campaign| %>
		  <% days_action = (Time.now.minus_with_coercion((campaign.start + campaign.length.days).to_time)/86400).round %>
		  <%= render 'campaign', :campaign => campaign, :days_action => days_action %>
		<% end %>
	</tbody>
	</table>
	
	<hr>
	
	<h4>Link Index Actions</h4>	
	<table class='table table-condensed table-striped table-hover'>
	<%= render 'campaign_thead' %>
	<tbody>
		<% @link_indexes.each do |campaign| %>
		  <% days_action = (Time.now.minus_with_coercion((campaign.links_index).to_time)/86400).round %>
		  <%= render 'campaign', :campaign => campaign, :days_action => days_action %>
		<% end %>
	</tbody>
	</table>
	
	<!--<pre><%= @sql_debug %></pre>-->
<% else %>	
	<p>Please <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to continue.</p>
<% end %>
