<%= simple_form_for(@campaign, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.input :url, :wrapper => :prepend do %>
    	<%= content_tag :span, 'http://www.', :class => "add-on" %>
    	<%= f.input_field :url, :class => 'span5' %>
    <% end %>
    <%= f.input :keyphrase, :input_html => {:class => 'span4' } %>
    <%= f.input :ctype, :input_html => {:class => 'span2' }, collection: ["2LT","2TAM","2TFM","2TSNP","3TSN","4SN","5TP","8PN","8SN","CAB","FM","SWM"], prompt: "Select..." %>
    
    
    <%= f.input :autoemails, :input_html => { :class => 'span1', :value => '3' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
