<%= simple_form_for(@transaction, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, :input_html => {:class => 'span1' }, order: [:day, :month, :year], prompt: "" %>
    <%= f.input :description, :input_html => {:class => 'span6' } %>
    <%= f.input :debit, :input_html => {:class => 'span2' } %>
    <%= f.input :credit, :input_html => {:class => 'span2' } %>
    <%= f.input :balance, :input_html => {:class => 'span2' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to "Cancel", transactions_path, :class => 'btn pull-right' %>
  </div>
<% end %>
