<%= search_form_for(@q, :html => {:class => 'form-inline' }) do |f| %>
  <div class="pull-right">
    <%= f.text_field :description_or_ttype_cont, :class => 'span2 search-query', :placeholder => 'Search...' %>
    <%= link_to ("<p class='text-right'><br><i class='icon-remove'></i> Remove Filters</p>").html_safe, transactions_path if params[:q] %>
  </div>
<% end %>

<div class="page-header">
  <h1>Transactions <%= link_to 'Add new transaction', new_transaction_path, :class => "btn btn-mini" %></h1>
</div>

<%= render 'upload' %>

<hr>

<table class='table table-condensed table-striped table-hover'>
	<thead>
	  <tr>
	  	<th><%= sort_link @q, :id, "#" %></th>
	    <th><%= sort_link @q, :date, "Date" %></th>
	    <th><%= sort_link @q, :description, "Description" %></th>
	    <th><%= sort_link @q, :debit, "Debit" %></th>
	    <th><%= sort_link @q, :credit, "Credit" %></th>
	    <th><%= sort_link @q, :ttype, "Type" %></th>
	    <th><%= sort_link @q, :balance, "Balance" %></th>
	    <th class='span2'></th>
	  </tr>
	</thead>
	<tbody>
		<% @transactions.each do |transaction| %>
		  <tr>
		    <td><%= transaction.id %></td>
		    <td><%= transaction.date %></td>
		    <td><%= transaction.description %></td>
		    <td><%= transaction.debit %></td>
		    <td><%= transaction.credit %></td>
		    <td><%= transaction.ttype %></td>
		    <td><%= transaction.balance %></td>
		    <td>
		    	<%= link_to ("<i class='icon-pencil'></i>").html_safe, edit_transaction_path(transaction), :class => 'btn btn-mini' %>
		    	<%= link_to ("<i class='icon-trash icon-white'></i>").html_safe, transaction, method: :delete, :class => 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to DELETE Transaction [#{transaction.id}]?" } %>
		  	</td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @campaigns %>