<div class="page-header">
  <h1>
  	Sale [<%= @sale.id %>] <small><%= @sale.client.name %> (<%= @sale.client.company %>)</small>
  	<div class='pull-right'>
  		<%= link_to ("<i class='icon-pencil'></i> Edit Sale").html_safe, edit_sale_path(@sale), :class => 'btn' %>
  		<%= link_to "Back", sales_path, :class => 'btn' %>
  	</div>  	
	</h1>
</div>

<p>
  <b>Quoted:</b>
  <%= l @sale.quote unless @sale.quote.nil? %>
</p>

<p>
	<b>Invoiced:</b>
	<%= l @sale.invoice unless @sale.invoice.nil? %>
</p>

<hr>

<table class='table table-condensed table-striped table-hover'>
	<thead>
	  <tr>
	  	<th>Name</th>
	  	<th>Description</th>
	  	<th>Amount</th>
	  	<th>Quantity</th>
	  	<th>Optional</th>
	  </tr>
	</thead>
	<tbody>
		<% @sale.sale_lines.each do |sale_line| %>
		  <tr>
		    <td><%= sale_line.name %></td>
		    <td><%= sale_line.description %></td>
		    <td><%= sale_line.amount %></td>
		    <td><%= sale_line.quantity %></td>
		    <td><%= sale_line.optional %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<hr>

<%= simple_form_for([@sale, @sale.sale_lines.build], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :rows => 3, :class => 'span4' } %>
    <%= f.input :amount %>
    <%= f.input :quantity %>
    <%= f.input :optional %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to "Cancel", @sale, :class => 'btn pull-right' %>
  </div>
<% end %>

